:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.folders-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--light-gray);
  border-left: 3px solid var(--primary-color);
}

.title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;

  mat-icon {
    margin-right: 5px;
  }
}

.folders {
  cursor: default !important;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 15px 15px 0 0;

    &.dnd-drag-start {
      opacity: .6;
      animation: pulse 1s infinite;
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 3px;
}

@keyframes pulse {
  0% {
    transform: scale(.9);
  }

  50% {
    transform: scale(.95);
  }

  100% {
    transform: scale(.9);
  }
}
