<div
  class="folders-section"
  *ngFor="let section of folderSections"
>
  <div class="title">
    <mat-icon *ngIf="section.matIcon">{{ section.matIcon }}</mat-icon>
    <span>{{ section.title }}</span>
  </div>

  <div
    class="folders"
    dnd-droppable
    (onDropSuccess)="onDrop($event, section)"
  >
    <ng-container *ngFor="let folder of (folders$ | async)">
      <app-journal-folder-card
        dnd-draggable
        class="folders__item"
        *ngIf="folder.accessType === section.accessType"
        [name]="folder.name"
        [dragEnabled]="true"
        [dragData]="folder"
        [routerLink]="folder.id"
      >
      </app-journal-folder-card>
    </ng-container>

    <div *ngIf="(isSectionEmpty(section.accessType) | async)" class="empty">
      <span>Список пуст.</span>
    </div>
  </div>
</div>
