:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.folders-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--light-gray);
  border-left: 3px solid var(--primary-color);
}

.title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;

  mat-icon {
    margin-right: 5px;
  }
}

.folders {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 15px 15px 0 0;
  }
}

.empty {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 3px;
}
