<div
  class="folders-section"
  *ngFor="let section of folderSections"
>
  <div class="title">
    <span>{{ section.title }}</span>
  </div>

  <div class="folders">
    <ng-container *ngFor="let folder of folders">
      <a
        class="folders__item"
        *ngIf="folder.accessType === section.accessType"
        [routerLink]="folder.link"
      >
        <app-journal-folder-card [name]="folder.name"></app-journal-folder-card>
      </a>
    </ng-container>

    <div *ngIf="isSectionEmpty(section.accessType)" class="empty">
      <mat-icon>warning</mat-icon>
      <span>Список пуст.</span>
    </div>
  </div>
</div>
