<div
  class="folders-section"
  *ngFor="let section of folderSections"
>
  <div class="title">
    <mat-icon *ngIf="section.matIcon">{{ section.matIcon }}</mat-icon>
    <span>{{ section.title }}</span>
  </div>

  <div class="folders">
    <ng-container *ngFor="let folder of folders">
      <a
        class="folders__item"
        *ngIf="folder.accessType === section.accessType"
        [routerLink]="folder.id"
      >
        <app-journal-folder-card [name]="folder.name"></app-journal-folder-card>
      </a>
    </ng-container>

    <div *ngIf="isSectionEmpty(section.accessType)" class="empty">
      <span>Список пуст.</span>
    </div>
  </div>
</div>
