:root {
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #888888;
  --light-gray: #eeeeee;
  --invalid-field: #ffd8e0;
}

.color-palette-default {
  --primary-color: #ffa72a;
  --light-primary-color: #ffa72a3d;
}

.color-palette-blue {
  --primary-color: #5269ff;
  --light-primary-color: #d4daff;
}

.color-palette-red {
  --primary-color: #d73737;
  --light-primary-color: #fac2c2;
}

.color-palette-green {
  --primary-color: #00a210;
  --light-primary-color: #9ee5a5;
}
