:root {
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #888888;
  --light-gray: #eeeeee;
}

.color-palette-default {
  --primary-color: #ffa72a;
  --light-primary-color: #ffa72a3d;
}

.color-palette-blue {
  --primary-color: #5269ff;
  --light-primary-color: #d4daff;
}
