$black: #000000;

.primary-button,
.primary-button-circle,
.primary-button-square-35px,
.primary-button-square-50px {
  cursor: pointer;
  position: relative;
  color: var(--white);
  background-color: var(--primary-color);
  transition: .2s all ease-in-out;

  & span {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: .1);
    opacity: 0;
    transition: .2s all ease-in-out;
  }

  &:hover:before {
    opacity: 1;
  }
}

.primary-button-square-35px,
.primary-button-square-50px {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;

  &:before {
    border-radius: 5px;
  }
}

.primary-button {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba($color: $black, $alpha: .1);

  &:before {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
}

.primary-button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;

  &:before {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.primary-button-square-35px {
  width: 35px;
  height: 35px;

  &:before {
    width: 35px;
    height: 35px;
  }
}

.primary-button-square-50px {
  width: 50px;
  height: 50px;

  &:before {
    width: 50px;
    height: 50px;
  }
}

.secondary-button {
  cursor: pointer;
  width: 120px;
  height: 30px;
  color: var(--primary-color);
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba($color: $black, $alpha: .1);
  transition: .2s all ease-in-out;

  &:hover {
    background-color: var(--light-primary-color);
  }
}

.primary-button,
.primary-button-circle,
.secondary-button {
  &[disabled] {
    cursor: default;
    color: (--white);
    background-color: var(--dark-gray);
    pointer-events: none;
  }
}

hr.divider {
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  border: none;
  opacity: .7;
}
