:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  background-color: var(--white);
  border-radius: 5px;
  overflow: hidden;
}

.header,
.actions {
  flex-shrink: 0;
  height: 70px;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);

  &__title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    color: var(--white);
  }

  &__close-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border: 2px solid var(--white);
    border-radius: 50%;

    mat-icon {
      font-size: 24px;
      color: var(--white);
    }
  }
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
