:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.worksheet-list {
  display: flex;
  flex-shrink: 0;
  height: 40px;

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2px;
    padding: 0 25px;
    border-radius: 15px 0 0 0;
    transition: .2s all ease-in-out;

    &:hover {
      color: var(--white);
      background-color: var(--primary-color);
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  border-top: 1px solid var(--primary-color);
}
