:host {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: var(--primary-color);
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &__icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    color: var(--white);
  }

  &__full-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__role {
    font-size: 14px;
    font-weight: 300;
  }
}

.date {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  color: var(--white);
}
