<label class="label" [for]="id">
  <span>{{ label }}</span>
</label>

<div class="input-wrapper">
  <input
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="inputFieldControl"
    [class.invalid]="inputFieldControl.invalid"
    class="field"
    (input)="onChange($event.target.value)"
  >
  
  <div
    *ngIf="errorMessage.length > 0"
    [matTooltip]="errorMessage"
    class="error-notifier">
    <span inlineSVG="../../../assets/images/error.svg"></span>
  </div>
</div>
