<app-inner-page>
  <div headerTitle>
    <span>Дисциплины</span>
  </div>

  <div headerActions>
    <div class="header-actions">
      <button class="primary-button" matTooltip="Добавить дисциплину" (click)="openNewSubjectDialog($event)">
        <mat-icon>add</mat-icon>
        <mat-icon>menu_book</mat-icon>
      </button>
    </div>
  </div>

  <div pageContent>
    <div class="wrapper">
      <div class="subjects styled-scrollbar">
        <ng-container *ngIf="hasSubjects; else emptyBlock">
          <a
            class="subjects__item"
            *ngFor="let subject of subjects"
            [routerLink]="subject.id"
          >
            <app-subject-card [subject]="subject"></app-subject-card>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</app-inner-page>

<ng-template #emptyBlock>
  <div class="empty">
    <mat-icon class="empty__icon">warning</mat-icon>
    <span class="empty__text">Список пуст.</span>
  </div>
</ng-template>
