@import '../../../../../assets/scss/mixins';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  @include scrollbar;

  flex-grow: 1;
  min-height: 0;
  background-color: var(--light-gray);
  overflow-y: auto;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  &__item {
    align-self: flex-start;
    margin: 20px;
  }
}

.empty {
  display: flex;
  align-items: center;
  height: 45px;
  margin: 10px auto 0 auto;
  padding: 0 30px;
  background-color: var(--white);
  border-radius: 10px;

  mat-icon {
    margin-right: 5px;
  }
}
