:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  min-height: 0;
  padding: 10px;
  background-color: var(--light-gray);
  overflow-y: auto;

  &__item {
    align-self: flex-start;
    margin: 20px;
  }
}
