<app-inner-page>
  <div headerTitle>
    <span>
      {{ subject?.title }}
    </span>

    <span *ngIf="subject?.courseNumber">
      ({{ subject?.courseNumber }} курс)
    </span>
  </div>

  <div headerActions>
    <div class="header-actions">
      <button
        class="header-actions__item primary-button-square-35px"
        matTooltip="Удалить дисциплину"
        (click)="openRemoveSubjectDialog()"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <button
        class="header-actions__item primary-button-square-35px"
        matTooltip="Назад"
        (click)="returnBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>

  <div pageContent>
    <div class="content">
      <ng-container *ngIf="subject?.description">
        <div class="subject-description">
          <span>Описание курса: </span>
          <span>{{ subject?.description }}</span>
        </div>
      </ng-container>

      <div class="tabs">
        <a
          *ngFor="let tab of tabs"
          class="tabs__item"
          [routerLink]="tab.path"
          routerLinkActive="active"
        >
          <span>{{ tab.label }}</span>
        </a>
      </div>

      <div class="tabs-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-inner-page>
