:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.header-actions {
  display: flex;
  justify-content: flex-end;

  &__item {
    margin-left: 10px;
  }
}

.subject-description {
  margin-bottom: 20px;
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.tabs {
  display: flex;
  justify-content: center;
  height: 50px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--primary-color);

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: .2s all ease-in-out;

    &.active {
      color: var(--white);
      background-color: var(--primary-color);
    }

    &:hover {
      padding-bottom: 5px;
      color: var(--white);
      background-color: var(--primary-color);
    }
  }
}

.tabs-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 20px;
}
