<app-inner-page>
  <ng-container headerTitle>
    <span class="folder-name">
      <app-double-state-field
        #folderNameRef
        [value]="folder?.name"
        (dblclick)="changeFolderNameState(folderNameRef)"
        (valueChanged)="changeFolderName($event)"
      >
      </app-double-state-field>
    </span>
    <span class="access-type">({{ folderAccessType }})</span>
  </ng-container>

  <div headerSubTitle>
    <button
      class="primary-button-square-35px"
      matTooltip="Изменить название"
      (click)="renameCurrentFolder()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div headerActions>
    <div class="header-actions">
      <button
        class="header-actions__item primary-button-square-35px"
        matTooltip="Удалить папку"
        (click)="removeCurrentFolder()"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <button
        class="header-actions__item primary-button-square-35px"
        matTooltip="Назад"
        (click)="returnBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>

  <div pageContent>
    <div class="worksheet-links-list">
      <a
        *ngFor="let worksheet of (worksheetsStream | async); let first = first; let last = last"
        class="worksheet-links-list__item"
        [class.first]="first"
        [class.last]="last"
        [routerLink]="worksheet?.id"
        routerLinkActive="active"
        (dblclick)="changeWorksheetTitleState(worksheetTitleRef)"
      >
        <app-double-state-field
          #worksheetTitleRef
          [value]="worksheet?.title"
          (valueChanged)="setNewWorksheetTitle($event, worksheet)"
        >
        </app-double-state-field>
      </a>

      <button
        class="worksheet-links-list__add-new"
        *ngIf="worksheetCanBeAdded"
        matTooltip="Добавить лист"
        (click)="addWorksheet()"
      >
        <mat-icon>add</mat-icon>
        <mat-icon>insert_drive_file</mat-icon>
      </button>
    </div>

    <div class="workspace">
      <router-outlet></router-outlet>
    </div>
  </div>
</app-inner-page>
