@import '../../../../../assets/scss/mixins';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.access-type {
  margin-left: 5px;
  font-size: 16px;
}

.header-actions {
  display: flex;
  justify-content: flex-end;

  &__item {
    margin-left: 10px;
  }
}

.worksheet-links-list {
  @include scrollbar;

  display: flex;
  flex-shrink: 0;
  height: 40px;
  overflow-x: auto;

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2px;
    padding: 0 25px;
    transition: .2s all ease-in-out;

    &.active {
      color: var(--white);
      background-color: var(--primary-color);
    }

    &.first {
      border-radius: 20px 0 0 0;
    }

    &.last {
      border-radius: 0 20px 0 0;
    }

    &.first.last {
      border-radius: 20px 20px 0 0;
    }

    &:hover {
      color: var(--white);
      background-color: var(--primary-color);
    }
  }

  &__add-new {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px 20px 0 0;
  }
}

.workspace {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  border-top: 1px solid var(--primary-color);
}
