<div class="header">
  <div class="header__actions-panel">
    <button class="header__actions-panel-item primary-button-circle" matTooltip="Добавить ученика" (click)="addStudent()">
      <span inlineSVG="../../../../../assets/images/add.svg"></span>
      <span inlineSVG="../../../../../assets/images/person.svg"></span>
    </button>

    <button class="header__actions-panel-item primary-button-circle" matTooltip="Добавить день" (click)="addDay()">
      <span inlineSVG="../../../../../assets/images/add.svg"></span>
      <span inlineSVG="../../../../../assets/images/day.svg"></span>
    </button>
  </div>

  <div
    *ngFor="let dateControl of datesList.controls"
    [title]="dateControl.value"
    class="header__cell"
  >
    {{ dateControl.value }}
  </div>
</div>

<div class="content">
  <div *ngFor="let item of studentsTable" class="worksheet-item">
    <div *ngFor="let control of item.controls; let first = first; let index = index">
      <input
        *ngIf="first; else ordinaryCell"
        class="cell header-cell"
        type="text"
        [value]="control.value"
        (focus)="cellFocused($event.target, index)"
        (blur)="cellBlured($event.target)"
      >

      <ng-template #ordinaryCell>
        <input
          class="cell ordinary-cell"
          type="text"
          [value]="control.value"
          (focus)="cellFocused($event.target, index)"
          (blur)="cellBlured($event.target)"
        >
      </ng-template>
    </div>
  </div>
</div>
