@mixin borer($top: 0, $right: 0, $bottom: 0, $left: 0) {
  border-width: $top $right $bottom $left;
  border-style: solid;
  border-color: var(--primary-color);
}

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

:host::ng-deep {
  .mat-header-row {
    height: 70px;
  }

  .mat-header-cell {
    @include borer($right: 1px, $bottom: 1px);

    padding-bottom: 10px;
    vertical-align: bottom;
    color: var(--black);
    text-align: center;
    border-bottom-width: 3px;

    &:first-child {
      width: 200px;
      min-width: 200px;
      vertical-align: middle;
      padding: 0;
      border-right-width: 3px;

      .actions-panel {
        display: flex;
        justify-content: center;

        &__item {
          margin-left: 5px;
        }
      }
    }

    &:last-child {
      padding: 0 0 10px 0;
    }
  }

  .mat-cell {
    @include borer($right: 1px, $bottom: 1px);

    min-width: 80px;
    min-height: 30px;
    padding: 0 !important;

    &.header-cell {
      border-right-width: 3px;

      input {
        text-align: left;
      }
    }

    &:hover {
      background-color: var(--light-gray);
    }

    &.focused {
      background-color: var(--light-primary-color) !important;
    }

    input {
      width: 100%;
      padding: 0 5px;
      border: none;
      text-align: center;
      background-color: transparent;
    }
  }
}

.table {
  flex-grow: 1;
  min-height: 0;
}

// :host {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   min-height: 0;
// }

// .header {
//   @include borer($left: 1px, $right: 1px);

//   position: relative;
//   display: flex;
//   flex-shrink: 0;
//   height: 105px;
//   box-shadow: inset 0 -1px 0 0 var(--primary-color);
//   overflow-x: auto;

//   &::-webkit-scrollbar {
//     display: none;
//   }

//   &__actions-panel {
//     @include borer($right: 1px);

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-shrink: 0;
//     width: 200px;

//     &-item {
//       margin-right: 5px;
//     }
//   }

//   &__cell {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-shrink: 0;
//     width: 40px;
//     height: 105px;
//     padding: 5px 10px;
//     border-right: 1px solid var(--primary-color);
//     writing-mode: tb-rl;

//     &:first-child {
//       width: 41px;
//       border-left: 1px solid var(--primary-color);
//     }
//   }
// }

// .content {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   min-height: 0;
//   overflow-y: auto;

//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

// .worksheet-item {
//   @include borer($left: 1px);

//   display: flex;

//   .cell {
//     @include borer($right: 1px, $bottom: 1px);

//     display: flex;
//     align-items: center;
//     height: 40px;
//     transition: .1s all ease-in-out;

//     &.header-cell {
//       @include borer($right: 1px, $bottom: 1px);

//       width: 200px;
//       height: 40px;
//       padding: 0 10px;
//     }

//     &.ordinary-cell {
//       @include borer($right: 1px, $bottom: 1px);

//       justify-content: center;
//       width: 40px;
//       height: 40px;
//       padding: 3px;
//       text-align: center;
//     }

//     &:hover {
//       background-color: var(--light-gray);
//     }

//     &.focused {
//       background-color: var(--light-primary-color);
//     }
//   }
// }
