<div class="column column-header">
  <div
    *ngFor="let headerCell of tableHeader; trackBy: trackByFunc"
    [ngClass]="['cell', 'cell-header', 'flex-shrink', headerCell.className ? headerCell.className : '']"
  >
    <span>{{ headerCell.label }}</span>
  </div>
</div>

<div *ngFor="let scheduleItem of schedule; trackBy: trackByFunc" [class.active]="checkIsActive(scheduleItem)" class="column">
  <div
    *ngIf="checkIsActive(scheduleItem)"
    class="notifier"
    inlineSVG="../../../../../assets/images/notifier.svg"
    title="Сейчас идёт!">
  </div>

  <div class="cell max-height-40">
    {{ scheduleItem.index }}.
  </div>

  <div class="cell max-height-60">
    {{ scheduleItem.from }} -
    <br>
    {{ scheduleItem.to }}
  </div>

  <div
    *ngFor="let data of currentWeekSet(scheduleItem); trackBy: trackByFunc"
    class="cell cell-ordinary"
    (click)="openEditCellDialog(data)"
  >
    <span>
      {{ data.lectureRoom }}  <br>
      {{ data.title }} <br>
      {{ data.group }}
    </span>
  </div>
</div>
