<div class="column column-header">
  <div
    *ngFor="let headerCell of tableHeader; let index = index; trackBy: trackByFunc"
    [ngClass]="[
      headerCell.className ? headerCell.className : '',
      (index === currentWeekDayIndex + 2) && index !== 1 ? 'active' : ''
    ]"
    class="cell cell-header"
  >
    <span>{{ headerCell.label }}</span>
  </div>
</div>

<div
  *ngFor="let scheduleColumn of schedule; trackBy: trackByFunc"
  class="column"
>
  <div class="cell class-index-cell">
    {{ scheduleColumn.index }}.
  </div>

  <div class="cell time-cell">
    <div>{{ scheduleColumn.from }}</div>
    <div>{{ scheduleColumn.to }}</div>
  </div>

  <div
    *ngFor="let data of currentWeekSet(scheduleColumn); let index = index; trackBy: trackByFunc"
    class="cell cell-ordinary"
    [ngClass]="[
      index === currentWeekDayIndex ? 'active' : '',
      checkIsActive(scheduleColumn) && index === currentWeekDayIndex ? 'now' : ''
    ]"
  >
    <mat-icon
      *ngIf="checkIsActive(scheduleColumn) && index === currentWeekDayIndex"
      class="notification"
      matTooltip="Сейчас идёт!"
    >
      notifications_active
    </mat-icon>

    <div class="panel">
      <button class="edit-button" (click)="openEditCellDialog(scheduleColumn, index)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <span *ngIf="data.isEmpty; else dataBlock">
      -
    </span>

    <ng-template #dataBlock>
      <div><b>{{ data.lectureRoom }}</b></div>
      <div>{{ data.title }}</div>
      <div><b>{{ data.group }}</b></div>
    </ng-template>
  </div>
</div>
