<app-inner-page>
  <div headerTitle>
    <span>Расписание</span>
  </div>

  <div headerSubTitle>
    <span>{{ currentWeekColor }} неделя</span>
  </div>

  <div headerActions>
    <div class="header-actions">
      <div
        class="header-actions__item primary-button-circle"
        title="Переключить неделю"
        (click)="toggleWeekColor()"
      >
        <span inlineSVG="../../../../../assets/images/toggle.svg"></span>
      </div>

      <div
        class="header-actions__item primary-button-circle"
        title="Изменить расписание"
        (click)="openModal()"
      >
        <span inlineSVG="../../../../../assets/images/edit.svg"></span>
      </div>
    </div>
  </div>

  <div pageContent>
    <app-schedule-table [weekColor]="weekColor"></app-schedule-table>
  </div>
</app-inner-page>
