<app-inner-page>
  <ng-container headerTitle>
    <span>Расписание</span>

    <div
      class="primary-button-circle clear-schedule-button"
      matTooltip="Очистить расписание"
      (click)="openClearScheduleDialog($event)"
    >
      <mat-icon>clear_all</mat-icon>
    </div>
  </ng-container>

  <div headerActions>
    <div class="header-actions">
      <div class="header-actions__item">
        <div class="text">{{ currentWeekColor }} неделя</div>

        <div
          class="primary-button-circle toggle-week-button"
          matTooltip="Переключить неделю"
          (click)="toggleWeekColor()"
        >
          <mat-icon>cached</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div pageContent>
    <app-schedule-table [weekColor]="weekColor" [clearSchedule]="clearSchedule"></app-schedule-table>
  </div>
</app-inner-page>
