<app-inner-page>
  <div headerTitle>
    <span>Расписание</span>
  </div>

  <div headerSubTitle>
    <span>
      {{ weekColor === 'White' ? 'Белая' : 'Зелёная' }} неделя
    </span>
  </div>

  <div headerActions>
    <div class="header-actions">
      <div class="primary-button-circle" (click)="toggleWeekColor()" title="Переключить неделю">
        <div inlineSVG="../../../../../assets/images/toggle.svg"></div>
      </div>
    </div>
  </div>

  <div pageContent>
    <app-schedule-table [weekColor]="weekColor"></app-schedule-table>
  </div>
</app-inner-page>
