<app-inner-page>
  <div headerTitle>
    <span>Отзывы студентов</span>
  </div>

  <div headerActions>
    <div class="header-actions">
      <button class="primary-button" (click)="openReviewAddingDialog()">
        <span>Добавить</span>
      </button>
    </div>
  </div>

  <div pageContent>
    <div class="review-list styled-scrollbar">
      <app-student-review-card
        class="review-list__item"
        *ngFor="let review of studentReviews; let index = index; trackBy: trackByFunc"
        [review]="review"
        (remove)="removeReview(index)"
      >
      </app-student-review-card>

      <div class="empty" *ngIf="studentReviews.length === 0">
        <mat-icon class="empty__icon">warning</mat-icon>
        <span class="empty__text">Список пуст.</span>
      </div>
    </div>
  </div>
</app-inner-page>
