@import '../../../../../assets/scss/mixins';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
}

.review-list {
  @include scrollbar;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 20px;
  background-color: var(--light-gray);
  overflow: auto;

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: var(--white);
  border-radius: 10px;

  &__icon {
    margin-right: 5px;
  }
}
