<app-inner-page>
  <ng-container headerTitle>
    <span>Отзывы студентов</span>
  </ng-container>

  <ng-container headerActions>
    <div class="header-actions">
      <button class="primary-button" matTooltip="Добавить отзыв" (click)="openReviewAddingDialog($event)">
        <mat-icon>add</mat-icon>
        <mat-icon>comment</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-container pageContent>
    <div class="review-list">
      <app-student-review-card
        class="review-list__item"
        *ngFor="let review of (studentReviewsStream | async); trackBy: trackByFunc"
        [review]="review"
        (remove)="removeReview(review)"
      >
      </app-student-review-card>

      <div class="empty" *ngIf="(studentReviewsStream | async).length === 0">
        <mat-icon class="empty__icon">warning</mat-icon>
        <span class="empty__text">Список пуст.</span>
      </div>
    </div>
  </ng-container>
</app-inner-page>
