<app-dialog-layout [dialogRef]="dialogRef">
  <ng-container dialogTitle>
    <mat-icon class="title-icon">add_comment</mat-icon>
    <span class="title-text">Новый отзыв</span>
  </ng-container>

  <ng-container dialogContent>
    <div class="student-review-form" [formGroup]="studentReviewForm">
      <ng-container *ngFor="let field of studentReviewFormConfig; trackBy: trackByFunc">
        <app-custom-input-field
          class="student-review-form__field"
          [id]="field.id"
          [type]="field.type"
          [label]="field.label"
          [matIcon]="field?.matIcon"
          [validators]="field.control.validators"
          [placeholder]="field.placeholder"
          [formControlName]="field.control.name"
        >
        </app-custom-input-field>
      </ng-container>
    </div>
  </ng-container>

  <ng-container dialogActions>
    <button
      class="primary-button"
      [disabled]="studentReviewForm.invalid"
      (click)="addReview()"
    >
      <span>Добавить</span>
    </button>
  </ng-container>
</app-dialog-layout>
