<ng-container *ngFor="let column of data; let first = first">
  <ng-container *ngIf="first">
    <div class="column left-column">
      <div class="actions-panel">
        <button class="actions-panel__item primary-button" matTooltip="Добавить ученика" (click)="addStudent()">
          <mat-icon>add</mat-icon>
          <mat-icon>school</mat-icon>
        </button>

        <button class="actions-panel__item primary-button" matTooltip="Добавить день" (click)="addDay()">
          <mat-icon>add</mat-icon>
          <mat-icon>today</mat-icon>
        </button>
      </div>

      <input
        class="cell left-cell"
        *ngFor="let cell of column.cells; let index = index"
        type="text"
        value="New student"
        (focus)="cellFocused($event.target, index)"
        (blur)="cellBlured($event.target)"
      >
    </div>
  </ng-container>

  <ng-container *ngIf="!first">
    <div class="column ordinary-column">
      <input
        class="cell header-cell"
        type="text"
        [value]="column.headerCell"
        (focus)="cellFocused($event.target, 0)"
        (blur)="cellBlured($event.target)"
      >

      <input
        class="cell ordinary-cell"
        *ngFor="let cell of column.cells; let index = index"
        type="text"
        [value]=""
        (focus)="cellFocused($event.target, index)"
        (blur)="cellBlured($event.target)"
      >
    </div>
  </ng-container>
</ng-container>
