:host {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  width: 240px;
  background-color: var(--white);
  border-radius: 5px;
  overflow: hidden;
  transition: .2s all ease-in-out;

  &:hover {
    background-color: var(--light-primary-color);
    transform: scale(1.05);
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  padding: 0 15px;
  background-color: var(--primary-color);
}

.name {
  flex-grow: 1;
  padding: 0 15px;
}
